.container {
    position: absolute;
    z-index: 10;
    top: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 40px;
    place-items: center;
    transition: left 0.5s linear;
}

.container--default {
    width: 440px;
}
.container--large {
    width: 530px;
}

.container--open {
    left: 100px;
}
.container--closed {
    left: -440px;
}

.close {
    width: 40px;
    height: 70px;
    top: 50%;
    background-color: var(--background-color-white);
    border-radius: 0 var(--border-radius-lg) var(--border-radius-lg) 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.panel {
    padding: var(--spacing-lg);
    min-width: 100%;
    background-color: var(--background-color-white);
}

.panel--overflow {
    height: 100%;
    overflow-y: scroll;
}

.panel--no_overflow {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.panel::-webkit-scrollbar {
    display: none;
}

/* @media (max-width: 1025px) {
    .container--default {
        width: 60%;
    }
    .container--large {
        width: 80%;
    }

    .container--open {
        left: 80px;
    }
    .container--closed {
        left: -600px;
    }
} */

@media (max-width: 768px) {
    .container--default {
        width: 60%;
    }
    .container--large {
        width: 80%;
    }

    .container--open {
        left: 80px;
    }
    .container--closed {
        left: -600px;
    }
}

@media (max-width: 468px) {
    .container--default {
        width: 80%;
    }
    .container--large {
        width: 80%;
    }

    .container--open {
        left: 65px;
    }
    .container--closed {
        left: -600px;
    }

    .close {
        width: 35px;
        height: 50px;
    }

    .container {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 35px;
    }
}

@media (max-width: 376px) {
    .container--default {
        width: 80%;
    }
    .container--large {
        width: 300px;
    }

    .container--open {
        left: 60px;
    }
    .container--closed {
        left: -400px;
    }
}
