.container {
    position: absolute;
    z-index: 10;
    top: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 40px;
    place-items: center;
    transition: left 0.5s linear;
}

.container--default {
    width: 440px;
}
.container--large {
    width: 530px;
}

.container--open {
    left: 100px;
}
.container--closed {
    left: -440px;
}

.close {
    width: 40px;
    height: 70px;
    top: 50%;
    background-color: var(--background-color-white);
    border-radius: 0 var(--border-radius-lg) var(--border-radius-lg) 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.panel {
    padding: var(--spacing-lg);
    min-width: 100%;
    background-color: var(--background-color-white);
}

.panel--overflow {
    height: 100%;
    overflow-y: scroll;
}

.panel--no_overflow {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.panel::-webkit-scrollbar {
    display: none;
}
