.container {
    position: absolute;
    z-index: 5;
    bottom: var(--spacing-sm);
    width: 300px;
    height: 120px;
    padding: var(--spacing-md);
    background-color: var(--background-color-white);
    border-radius: var(--border-radius-md);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    transition: right 0.3s linear;
}

.container--open {
    right: var(--spacing-sm);
}

.container--closed {
    right: -50%;
}

.info {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 50%);
    place-items: start;
}

.info__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.value {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-lg);
    color: var(--font-color-purple);
}

.description {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-sm);
    color: var(--font-color-purple);
}

@media (max-width: 468px) {
    .container--closed {
        right: -80%;
    }
}

@media (max-width: 376px) {
    .container {
        width: 200px;
        height: 100px;
    }

    .value {
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-lg);
        color: var(--font-color-purple);
    }

    .description {
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-md);
        color: var(--font-color-purple);
    }

    .container--closed {
        right: -80%;
    }
}
