.header {
    margin-top: 0;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--spacing-lg);
}

.main--login {
    height: 250px;
}

.main--reg {
    height: 300px;
}

.selection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
