@import './variables.css';
@import '@/styles/themes/dark.css';
@import '@/styles/themes/light.css';

* {
    box-sizing: var(--box-sizing-base);
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
    /* color: var(--font-color-black-my); */
    font-family: var(--font-family-mont);
    font-weight: var(--font-weight-md);
}
*,
*:before,
*:after {
    box-sizing: var(--box-sizing-base);
}

a {
    cursor: pointer;
    text-decoration: none;
}

img {
    user-select: none;
}

h1 {
    margin: var(--spacing-md) 0;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-lg);
}

html {
    font-size: var(--font-size-base);
}

body {
    overflow-x: hidden;
    transition: background-color 0.5s linear, color 0.5s linear;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
